.tour-type {
	display: inline-block;
	width: 150px;
	height: 60px;
	border: 1px solid #dddddd;
	position: relative;
	span {
		font-size: 14px;
		font-weight: 300;
		display: block;
		position: absolute;
		bottom: 6px;
		width: 100%;
	}
	img {
		padding-top: 4px;
	}
}
