.introduce {
	width: 281px;
	text-align: left;
	position: relative;
	border: 1px solid #e8e8e8;
	.intro-text {
		background-color: #f0f1f1;
		padding: 11px;
	}
	.add-name {
		font-size: 17px;
		font-family: 'Roboto Condensed';
		font-weight: 500;
		transition: 0.2s;
	}
	.add-name:focus {
		outline: none;
	}
	.add-name:hover {
		text-decoration: underline;
	}
	.illustrate {
		font-size: 13px;
		font-weight: 300;
		margin-bottom: 10px;
		margin-top: 6px;
		line-height: 20px;
	}
	.arrow {
		width: 0px;
		border-top: 25px solid #f0f1f1;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		position: absolute;
		top: 96%;
		left: -10px;
		transform: rotate(45deg);
	}
}
