// Start: introduce

mixin introduce(address, urlimg,href1)
  .introduce.introduce-wrap
    .intro-img
      img(src=urlimg, alt=address)
    .intro-text
      a.add-name(data-fancybox, href=href1)=address
      p.illustrate Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's [...]
    .arrow
  //.introduce-wrap

// End: introduce
