/*********************
    - 2. General -
*********************/

html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
}
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.list-inline li {
  @include dis(middle);
}
.row {
  margin: 0 -15px;
  overflow: hidden;
}
.inner {
  padding: 0 15px;
}
.col-3{
  width: 25%;
  float: left;
}
.col-4{
  width: 33.3333333%;
  float: left;
}
.col-6{
  width:50%;
  float: left;
}
.col-8{
  width: 66.6666667%;
  float: left;
}
.col-9{
  width:75%;
  float: left;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
img {
  max-width: 100%;
  border: none;
  vertical-align: middle;
}
.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear-fix,
.clearfix {
  clear: both;
}
.text-center {
  text-align: center;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
input,button{
  outline: none;
}
button:hover{
  cursor: pointer;
}
