.header{
    .header-top{
        font-weight: 300;
        color: #fff;
        padding:15px 0;
        z-index: 100;
    }
    .show-search{
        display: none;
    }
    .logo{
        padding:10px 20px 3px 33px;
    }
    .logo-2{
        display: none;
    }
    .search-1{
        width: 23%;
        position: relative;
        margin:24px 65px 15px 20px;
        .close-search{
            display: none;
        }
        input{
            line-height: 28px;
            width: 100%;
            border-radius: 20px;
            padding-left: 50px;
            color: #65a7b3;
            font-family: 'Montserrat';
            border:none;
        }
        input::placeholder{
            color: #65a7b3;
        }
        button{
            position: absolute;
            background-color: transparent;
            border: transparent;
            top: 50%;
            transform: translate(50%,-50%);
            color: #fff;
            font-family: 'Montserrat';
        }
    }
    .chess-icon{
        padding-right:80px;
        .item{
            padding: 0 4px;
        }
    }
    .header-right{
        width: 60%;
    }
    .menu{
        width: 100%;
        .toggle-menu{
            display: none;
            i{
                cursor: pointer;
            }
        }
        .menu-c1{
            padding: 13px 0 24px 0;
            li{
                position: relative;
                float: left;
                padding:0 12px;
                text-align: center;
                a{
                    display: block;
                    position: relative;
                }
                span{
                    position: absolute;
                    top: 0;
                    text-align: center;
                    background-color: #1c58f6;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    font-size: 11px;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    i.fa-chevron-down{
        padding-left: 10px;
        font-size: 10px;
    }
    .header-bottom{
        padding: 15px 0;
        background-color: #002147;
        .search-2{
            width: 50%;
            margin:0 auto;
        }
        input{
            width: 79%;
            font-size: 13px;
            padding:0 20px;
            background-color: #fff;
            font-weight: 300;
            font-style: italic;
        }
        a{
            background: #e82b44;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            padding: 0 20px;
            margin-left: 10px;
            display: inline-block;
            vertical-align: middle;
            font-family: 'Roboto Condensed';
        }
        input,a{
            line-height: 42px;
            border-radius: 3px;
            border: none;
            letter-spacing: 0.8px;
        }
    }
}
#header-1{
    .header-top{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(../images/header-setcalendar.png);
    }
    .search-1{
        input{
            background: #608eb0;
        }
    }
}
#header-2{
    position: relative;
    .header-top{
        position: absolute;
        z-index: 100;
        width: 100%;
    }
    .search-1{
        input{
            background-color: rgba(0, 0, 0, 0.35);
        }
    }
    .banner{
        position: relative;
        h1{
            margin: 0;
            color: #fff;
            font-size: 70px;
            text-align: center;
            font-family:'Nothing You Could Do';
        }
        .owl-stage{
            padding: 0;
        }
        .text{
            padding: 300px 0;
            background-color:rgba(0, 0, 0, 0.3);
        }
        .text,.text-2{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .text-2{
            padding-top:250px;
            background-color:rgba(255, 255, 255, 0.2);
        }
        .row-btn{
            margin-top: 10px;
            text-align: center;
        }
        button{
            line-height: 35px;
            border:none;
            color: #fff;
            padding:0 30px;
            font-size: 13px;
            font-weight: 200;
            border-radius: 5px;
            font-family: 'Montserrat';
        }
        .bg-blue{
            margin-right: 8px;
            background-color: #1c58f6;
        }
        .bg-noblue{
            background-color:rgba(0, 0, 0, 0.3);
        }
        .lead{
            font-size:12px;
            font-weight: 300;
            text-align: center;
            color: #fff;
        }
    }
    .form-header{
        border-radius: 4px;
        max-width: 75%;
        margin: 0 auto;
        height: 250px;
        background-color: #fff;
        box-shadow: 0 20px 35px #d1d1d1;
        margin-top: 160px;
    }
    .row-header{
        margin: -3px -2px;
    }
    .col-3{
        padding: 0 20px;
    }
    .row-input{
        padding: 16px 0;
        position: relative;
        i{
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            color: #bdbdbd;
        }
        input[type=text],select{
            color: #bdbdbd;
        }
        input[type=text]::placeholder{
            color: #bdbdbd;
        }
        input[type=button]{
            cursor: pointer;
        }
        input{
            padding: 6.5px 10px;
        }
        input[type=button]{
            background-color: #1c58f6;
            color: #fff;
        }
        input,select{
            font-family: 'Montserrat';
            width: 100%;
            border:1px solid #e0e0e0;
            border-radius: 3px;
            font-size: 14px;
        }
        select{
            outline: 0;
            padding: 5.5px 10px;
        }
    }
}
.owl-theme .owl-nav{
    display: block;
}
#content{
    background-image: url('../images/banner-setcalendar.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .section{
        padding: 130px 0 300px 0;
        background-color: rgba(0,0,0,0.27);
    }
    h1{
        font-family: 'Roboto Condensed';
        font-weight: 400;
        font-size: 32px;
        margin: 0 0 8px 0;
        text-align: center;
    }
    ul{
        li{
            i.fa-circle{
                margin-right: 10px;
                font-size: 7px;
                vertical-align: middle;
            }
            transition: all 0.3s;
            box-shadow: 0 2px 3px #e9e9e9;
            padding: 0 20px;
            font-weight: 400;
            position: relative;
            margin: 13px 0;
            line-height: 42px;
            background-color: #f4f4f4;
            &:hover .close{
                opacity: 1;
                transition: all 0.2s;
            }
        }
    }
    .close{
        transition: all 0.2s;
        opacity: 0;
        font-size: 12px;
        font-weight: 200;
        position: absolute;
        right: 20%;
        top: 50%;
        transform: translateY(-50%);
        i{
            color: #c74d4d;
            margin: 0 8px;
            cursor: pointer;
        }
        span{
            color: #9e9e9e;
            pointer-events: none;
        }
    }
    .section__inner{
        background-color: #fff;
        width: 44%;
        margin: 0 auto;
        padding: 25px 100px 35px 100px;
        border-radius: 2px;
    }
    .btn{
        margin-top:30px;
        text-align: center;
    }
    button{
        box-shadow: 0 4px 0px #144ca9;
        font-size: 17px;
        padding: 12px 39px 10px 48px;
        background-color: #1b65e1;
        color: #fff;
        border:1px solid #1b65e1;
        border-radius: 2px;
        i{
            margin-left:10px;
        }
    }
}
#footer{
    .footer-top{
        img{
            display: block;
        }
    }
    .footer-bottom__1{
        padding:60px 0 20px 0;
    }
    .footer-bottom{
        background-color: #000;
        color: #fff;
    }
    .title{
        h1{
            text-transform: uppercase;
            font-size: 14px;
            margin:0;
            font-weight: 600;
        }
    }
    .text-footer{
        p{
            line-height: 25px;
            margin: 0;
            font-weight: 400;
        }
        padding:20px 0;
    }
    .phone{
        background-color: #fff;
        color: #000;
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        margin: 20px 0;
        width: 93%;
    }
    .col-4{
        text-align: center;
        ul{
            margin: 0 auto;
            display: inline-block;
        }
        p{
            padding: 30px 0 22px 0;
        }
    }
    .logo-footer{
        margin-top: 5px;
    }
    .list{
        li{
            border-right: 1px solid #fff;
            padding:0 6px;
            a{
                color: #222222;
                line-height: 14px;
                font-size: 13px;
            }
            &:nth-child(4){
                border-right: none;
            }
        }
    }
    p{
        margin: 0;
    }
    ul{
        list-style: none;
        li{
            float: left;
            a{
                display: block;
            }
        }
    }
    .list-icon{
        li{
            padding: 0 5px;
        }
        a{
            width: 36px;
            line-height: 36px;
            text-align: center;
            border-radius: 50%;
            &.face{
                background-color: #3b5998;
            }
            &.twitter{
                background-color: #1da1f2;
            }
            &.instagram{
                background-color: #262626;
            }
            &.tripadvisor{
                background-color: #589442;
            }
            &.yelp{
                background-color: #af0606;
            }
        }
    }
    .footer-bottom__2{
        font-size: 13px;
        line-height: 25px;
        li{
            a{
                color: #fff;
            }
            padding:0 3px;
        }
        padding:20px 34px 20px 27px;
    }
    .line{
        width: 99%;
        height: 1px;
        background-color: #4d4d4d;
        margin:0 auto;
    }
}
@media screen and (max-width: 1200px){
    .container{
        width: 100%;
        padding:0 15px;
    }
    #header-1{
        .header-top{
            position: relative;
        }
    }
    .header{
        .header-right{
            float: right;
        }
        .show-search{
            display: none;
        }
        .menu{
            .toggle-menu{
                display: block;
                text-align: center;
                padding: 3px;
                font-size: 30px;
            }
            .menu-c1{
                position: absolute;
                width: 300px;
                background-color: rgba(0, 0, 0, 0.95);
                right: 0;
                display: none;
                padding: 0 20px;
                li{
                    display: block;
                    width: 100%;
                    text-align: left;
                    border-bottom: 0.5px solid rgba(255, 255, 255, 0.64);
                    padding: 10px 15px;
                    &:nth-child(6){
                        border-bottom: none;
                    }
                }
            }
        }
        .search-1{
            margin: 24px 80px 15px 80px;
            width: 60%;
        }
        .logo{
            padding: 10px 35px 3px 35px;
        }
        .header-right{
            width: 10%;
        }
        .row-header-top{
            display: inline-block;
            margin: 0 auto;
        }
        .chess-icon{
            width: 100%;
            padding: 0;
            text-align: center;
        }
    }
    #content{
        .section__inner{
            width: 55%;
        }
    }
    #footer{
        .list{
            li{
                width: 50%;
                margin: 5px 0;
                text-align: center;
                &:nth-child(2){
                    border-right: none;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px){
    #content{
        .section__inner{
            width: 60%;
        }
    }
    .header{
        .header-bottom{
            .search-2{
                width:60%;
            }
        }
        .search-1{
            margin: 24px 50px 15px 50px;
            width: 65%;
        }
        .logo{
            padding: 10px 30px 3px 30px;
        }
    }
    #footer{
        .phone{
            margin:0 auto;
        }
        .col-4{
            width: 40%;
        }
        .col-8{
            width: 60%;
        }
    }
}
@media screen and (max-width: 900px){
    #content{
        .section__inner{
            width: 75%;
        }
    }
    #footer{
        .col-4{
            width: 100%;
        }
        .col-8{
            width: 100%;
            padding-top:30px;
            text-align: center;
        }
        .list{
            padding-top: 20px;
        }
    }
    .header{
        .search-1{
            margin: 24px 40px 15px 40px;
            width: 65%;
        }
        .chess-icon{
            padding: 0 0px;
        }
    }
}
@media screen and (max-width: 820px){
    .header{
        .search-1{
            margin: 24px 40px 15px 40px;
            width: 63%;
        }
    }
}
@media screen and (max-width: 768px){
    #content{
        .section__inner{
            width: 90%;
        }
    }
    .header{
        .header-bottom{
            .search-2{
                width:80%;
            }
        }
        .logo{
            padding: 10px 20px 3px 20px;
        }
        .search-1{
            margin: 24px 20px 15px 20px;
            width: 70%;
        }
    }
}
@media screen and (max-width: 716px){
    .header{
        .search-1{
            width: 67%;
        }
    }
}
@media screen and (max-width: 640px){
    #content{
        .section__inner{
            width: 95%;
            padding: 50px;
        }
        h1{
            font-size: 25px;
        }
    }
    .header{
        .header-bottom{
            .search-2{
                width:90%;
            }
        }
        .logo{
            padding: 10px 0 3px 0;
        }
        .search-1{
            margin: 24px 10px 15px 30px;
        }
        .header-right{
            width: 12%;
        }
    }
    #footer{
        .footer-bottom__2{
            text-align: center;
            padding: 10px 0;
            li{
                width: 20%;
                text-align: center;
            }
            .fleft,.fright{
                width: 100%;
                text-align: center;
                padding-top: 10px;
            }
        }
    }
}
@media screen and (max-width: 568px){
    #footer{
        .list{
            li{
                width: 100%;
                border-right: none;
            }
        }
        .footer-bottom__1{
            padding: 20px 0 20px 0;
        }
    }
    .header{
        .menu{
            .toggle-menu{
                i{
                    font-size: 27px;
                }
            }
        }
        position: relative;
        .header-right{
            width: 15%;
        }
        .logo-1{
            display: none;
        }
        .logo-2{
            display: block;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
        }
        .show-search{
            display: block;
            position: absolute;
            left: 18px;
            top: 50%;
            i{
                color: #fff;
                font-size: 14px;
            }
        }
        .search-1{
            display: none;
            position: absolute;
            top: 44%;
            left: 0;
            width: 100%;
            margin:0 auto;
            z-index: 200;
            .close-search{
                display: block;
                position: absolute;
                right: 20px;
                color: #fff;
                font-size: 14px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .header-bottom{
            input{
                width: 100%;
            }
            a{
                position: absolute;
                right: 0;
                font-size: 14px;
                padding: 0 10px;
                border-radius: 0 5px 5px 0;
            }
            .search-2{
                width: 100%;
                position: relative;
            }
        }
    }
    #content {
        .close{
            right: 15%;
        }
    }
}
@media screen and (max-width: 414px){
    #content{
        .section__inner{
            padding: 30px;
        }
        button{
            font-size: 14px;
            padding: 12px 19px 10px 28px;
        }
    }
    body{
        font-size: 12px;
    }
    #footer{
        .footer-bottom__2{
            li{
                width: 100%;
                display: block;
            }
        }
    }
    .header {
        .search-1 {
            input{
                font-size: 12px;
            }
        }
        .menu{
            .menu-c1{
                width: 100%;
            }
        }
        .header-bottom{
            input,a{
                line-height: 35px;
            }
        }
    }
}
@media screen and (max-width: 380px){
    #content {
        .close{
            right: 10%;
        }
    }
    .header{
        .header-right{
            width: 18%;
        }
    }
}