.cultural-trip .place {
	margin-bottom: 10px;
}
.tours {
	.tour {
		margin: 15px 0;
	}
}

.broadcast {
	margin: 15px 0;
}
.vietnam {
	padding: 25px 0;
	.title h3 {
		font-size: 40px;
		margin:0;
	}
	.slogan p {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: 3px;
	}
	.contact p {
		font-size: 23px;
		font-weight: 500;
	}
	.contact a {
		display: inline-block;
		font-size: 14px;
		line-height: 36px;
		color: white;
		background-color: #1c58f6;
		padding: 0 45px;
		border-radius: 4px;
		font-weight: 300;
	}
	.vietnam-travelling {
		position: relative;
	}
	.introduce {
		position: absolute;
		bottom: 51%;
		right: 16%;
	}

}

.detail-header {
	line-height: 60px;
	background-color: #f2f2f2;
	padding-left: 24px;
	border: 1px solid #e5e5e5;
}
.soc1 {
	width: 2px;
	height: 14px;
	margin-right: 1px;
}
.blue {
	background-color: #1c58f6;
	display: inline-block;
}
.soc2 {
	width: 5px;
	height: 14px;
	margin-right: 10px;
}
.detail-header strong {
	font-size: 17px;
	font-weight: 600;
}
.detail-content li {
	vertical-align: middle;
	display: inline-block;
	margin-right: 30px;
}
.detail .tour-type:hover {
	box-shadow: 0px 4px 3px #ababab;
}
.detail-intro p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 23px 0;
}
.detail-intro strong {
	font-weight: 500;
}
.content-title {
	color: #003c71;
	font-size: 13px;
	text-transform: uppercase;
}
.bordering {
	width: 816px;
	padding-top: 15px;
	border-bottom: 1px dashed #cccccc;
}
.detail-main-content p {
	font-size: 14px;
	font-family: 'Quicksand';
	font-weight: 400;
	margin: 13px 0;
}
.selecting .slide {
	width: 748px;
}
.owl-theme .owl-nav {
	display: none;
}
.selecting .owl-carousel {
	position: relative;
}
.owl-theme .owl-dots .owl-dot span {
	width: 7px;
	height: 7px;
	margin: 3.5px;
	background: #5c5c5c;
}
.owl-dots {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #ededed;
}
.select-btn a {
	background-color: #e1e1e1;
	line-height: 31px;
	font-size: 14px;
	font-family: 'Quicksand';
	border: 1px solid #cdcbcb;
	display: inline-block;
	padding: 0 10px;
}
.select-btn span {
	padding-right: 20px;
	vertical-align: middle;
}
.selecting {
	position: relative;
}
.select-btn {
	position: absolute;
	bottom: 0;
	right: 0;
}
.culaocham {
	padding-top: 45px;
}
.detail {
	width: 1070px;
	border: 1px solid #ededed;
	text-align: left;
	background-color: #fff;
	display: none;
}
.detail-content {
	padding: 27px 37px;
}
.culaocham p {
	margin-bottom: 0;
}
.showmore {
	padding-top: 42px;
}
.fancybox-content {
	padding: 0;
}
.fancybox-bg {
	background-color: #fff;
}
.fancybox-is-open .fancybox-bg {
	opacity: .5;
}
@media screen and (max-width: 1600px) {
	.places .container,
	.tours .container,
	.vietnam .container {
		padding: 0 15px;
	}
}
@media screen and (max-width: 1024px) {
	.tours {
		.tour-time {
			float: left;
			padding-top: 5px;
		}
		.tour .tour-name {
			font-size: 17px;
		}
		.tour .reaction {
			font-size: 11px;
		}
	}
	.vietnam {
		.introduce {
			bottom: 50%;
			right: 8%;
		}
		.introduce .intro-text {
			padding: 7px;
		}
	}
	.places {
		.place a.place-name {
			font-size: 20px;
		}
	}
	.detail-menu {
		text-align: center;
	}
	.detail-content li {
		margin: 0 10px 15px 10px;
	}
	.fancybox-slide--html {
		padding: 10px;
	}
	.detail-content {
		padding: 20px 14px;
	}
}
@media screen and (max-width: 980px) {
	.places {
		.row>div:first-child,.row>div:nth-last-child(2){
			width: 66.666%;
		}
		.row div:nth-child(3),.row div:nth-child(4) {
			width: 50%;
		}
		.row div:nth-child(2), .row div:nth-child(5) {
			width: 33.334%;
		}
		img {
			width: 100%;
		}
	}
	.tours {
		.row .col-3 {
			width: 33.333%;
		}
		.tour-time {
			float: right;
			padding: 0;
		}
		.row>div:nth-last-child(2), .row>div:nth-last-child(3) {
			display: none;
		}
	}
	.vietnam {
		.introduce {
			width: 240px;
			right: 12%;
		}
	}
	.selecting .slide {
		width: 100%;
		float: none;
	}
	.selecting .select-btn {
		width: 100%;
		float: none;
		text-align: center;
		position: relative;
		padding-top: 20px;
	}
	.bordering {
		width: 100%;
	}
}
@media screen and (max-width: 720px) {
	.vietnam {
		.introduce {
			right: 7%;
		}
	}
}
@media screen and (max-width: 667px) {
	.places .container{
		.row .col-6 {
			width: 100%;
		}
		.row .col-3 {
			width: 50%;
		}
	}
	.vietnam .introduce {
		right: 0;
	}
	.places .row, .tours .row {
		margin: 0 -10px;
	}
	.places .inner, .tours .inner {
		padding: 0 10px;
	}
	.places .place,.tours .tour {
		margin: 10px 0;
	}
	.tour .sale-label {
		top: -10px;
		right: -10px;
	}
}
@media screen and (max-width: 640px) {
	.tours {
		.row .col-3 {
			width: 50%;
		}
		.row>div:nth-last-child(2), .row>div:nth-last-child(3) {
			display: block;
		}
	}
}
@media screen and (max-width: 568px) {
	.vietnam {
		.intro-text p {
			display: none;
		}
		.introduce {
			width: 200px;
		}
		.introduce .arrow {
			border-top-width: 15px;
			border-left-width: 3px;
			border-right-width: 3px;
			top: 97%;
			left: -6px;
		}
		.contact span {
			display: block;
		}
	}
} 
@media screen and (max-width: 480px) {
	.vietnam {
		.introduce {
			width: 150px;
			bottom: 49%;
			right: 3%;
		}
		.title span {
			display: block;
		}
	}
}
@media screen and (max-width: 414px) {
	.tours {
		.row .col-3 {
			width: 100%;
			text-align: center;
			float: none;
			margin: 0 auto;
		}
		.tour .tour-name {
			font-size: 22px;
		}
	}
	.vietnam {
		
		.introduce {
			width: 150px;
			bottom: 49%;
		}
	}
	.places .container .row .col-3 {
		width: 100%;
	}
}

@media screen and (max-width: 380px) {
	.introduce .add-name {
		font-size: 15px;
	}
}
@media screen and (max-width: 360px) {
	.vietnam {
		.introduce {
			bottom: 48%;
			right: 0;
		}
	}
}
@media screen and (max-width: 320px) {
	.vietnam {
		.introduce .intro-img {
			display: none;
		}
		.introduce .arrow {
			top: 85%;
		}
		.slogan p {
			letter-spacing: 1px;
		}
		.introduce {
			width: 133px;
			bottom: 50%;
		}
	}
}