extends _layouts/layout
block header
    include _partials/header-2.pug
block footer
    +footer(1)
block content
    .places
        .container
            .row
                .col-6.cultural-trip
                    .inner
                        +place("Cultural Trip","images/culturaltrip.png")
                .col-3.north-of-vietnam
                    .inner
                        +place("North of Vietnam","images/northofvietnam.png")
                .col-3.south-of-vietnam
                    .inner
                        +place("South of Vietnam","images/southofvietnam.png")
                .col-3.center-vietnam
                    .inner
                        +place("Center of Vietnam","images/centerofvietnam.png")
                .col-3.pilgrimage
                    .inner
                        +place("Pilgrimage","images/pilgrimage.png")
                .col-6.laos-cambodia
                    .inner
                        +place("Laos | Cambodia","images/laocambodia.png")
                .clearfix
    .tours
        .container
            .row
                .col-3
                    .inner
                        +tour("Hong Kong")
                .col-3
                    .inner
                        +tour("French Autumn")
                .col-3
                    .inner
                        +tour("Grand Switzerland")
                .col-3
                    .inner
                        +tour("Discover Japan")
                .col-3
                    .inner
                        +tour("Niko Trip")
                .col-3
                    .inner
                        +tour("Seoul Your Soul")
                .col-3
                    .inner
                        +tour("Great Britain Travel")
                .col-3
                    .inner
                        +tour("Great Britain Travel")
                .clearfix
    .broadcast
        img(src="images/girlvietnam.png", alt="girl")
    .vietnam
        .container
            .vietnam-travelling.text-center
                .title
                    h3 Vietnam 
                        span "à-la-card"
                .slogan
                    p customize your own trip in vietnam
                .map
                    img(src="images/mapvietnam.png", alt="map")
                .contact
                    p Contact to our expert at: 
                        span +84 976 222 892
                    a(href="#") Browse All Tours
                .introducing
                    +introduce("Thành phố Đà Nẵng","images/danangcity.png","#detail")
                    .detail#detail
                        .detail-header
                            span.blue.soc1
                            span.blue.soc2
                            strong Thành phố Đà Nẵng
                        .detail-content
                            .detail-menu
                                ul
                                    li
                                        +tour-type("Du lịch tâm linh","images/icon-tamlinh.png")
                                    li
                                        +tour-type("Du lịch nghỉ dưỡng","images/icon-nghiduong.png")
                                    li
                                        +tour-type("Du lịch khám phá","images/icon-khampha.png")
                                    li
                                        +tour-type("Du lịch ẩm thực","images/icon-amthuc.png")
                                    li
                                        +tour-type("Du lịch mạo hiểm","images/icon-maohiem.png")
                            .detail-intro
                                p
                                    strong Giới thiệu tour: 
                                    span Với hành trình du lịch 
                                    strong Thiên Đường Miền Trung 
                                    span Đà Nẵng - Bà Nà - Hội An - Cù Lao Chàm giá tốt hè 2018 từ Sài Gòn du khách sẽ được chiêm ngưỡng những cung đường biển tuyệt đẹp, cùng các khu nghỉ dưỡng tuyệt vời đến đây du khách còn cảm nhận được vẻ đẹp tuyệt vời cực kì độc đáo với những điểm du lịch mà nhắc đến du khách không thể không tới.
                            article.detail-main-content
                                .sontra
                                    strong.content-title 1 : Bán đảo Sơn Trà
                                    div.bordering
                                    p Bán đảo Sơn Trà (phường Thọ Quang, quận Sơn Trà) nằm cách trung tâm thành phố Đà Nẵng khảong 10 km về phía Đông Bắc. Với ba mặt giáp biển, mặt còn lại giáp đô thị, Sơn Trà là tổng hòa của hệ sinh thái rừng tự nhiên gắn liền biển duy nhất ở Việt Nam.
                                    p Bán đảo có diện tích hơn 4.400 ha, dài 13km với chu vi khoảng 60 km, độ cao trung bình 350 m, nơi cao nhất là đỉnh Ốc gần 700 m. Cùng với đèo Hải Vân và vịnh Đà Nẵng, bán đảo Sơn Trà như bình phong bao bọc, che chắn cho thành Phố Đà Nẵng.
                                    p Xa xưa, Sơn Trà là đảo nổi với ba ngọn núi. Dòng nước biển chảy ven bờ theo thời gian đã mang phù sa bồi đắp 3 ngọn núi này thành doi đất chạy từ đất liền ra đảo, hình thành bán đảo.
                                    p Sau nhiều năm nghiên cứu, tiến sĩ Vũ Ngọc Long, nguyên viện trưởng sinh thái học miền Nam, đánh giá Sơn Trà là báu vật của Đà nẵng. Bán đảo là hệ sinh thái khép kín với 4 kiểu rừng phân theo độ cao từ trên xuống dưới. Ở trên là rừng mưa ẩm nhiệt đới, lưng chừng là rừng nửa khô hạn rồi đến rừng còi và đới thực vật ven biển, phía dưới là thảm cỏ và san hô.
                                    .selecting
                                        .slide.fleft
                                            .owl-carousel.owl-theme
                                                .item
                                                    img(src="images/slider-index2.png", alt="sontra")
                                                .item
                                                    img(src="images/slider-index2.png", alt="sontra")
                                                .item
                                                    img(src="images/slider-index2.png", alt="sontra")
                                                .item
                                                    img(src="images/slider-index2.png", alt="sontra")
                                                .item
                                                    img(src="images/slider-index2.png", alt="sontra")
                                        .select-btn.fright
                                            a(href="#")
                                                span Chọn địa điểm
                                                img(src="images/select-place.png", alt="checked")
                                        .clearfix
                                .culaocham
                                    strong.content-title 2 : Cù Lao Chàm
                                    div.bordering
                                    p Sau nhiều năm nghiên cứu, tiến sĩ Vũ Ngọc Long, nguyên viện trưởng sinh thái học miền Nam, đánh giá Sơn Trà là báu vật của Đà nẵng. Bán đảo là hệ sinh thái khép kín với 4 kiểu rừng phân theo độ cao từ trên xuống dưới. Ở trên là rừng mưa ẩm nhiệt đới, lưng chừng là rừng nửa khô hạn rồi đến rừng còi và đới thực vật ven biển, phía dưới là thảm cỏ và san hô. Xa xưa, Sơn Trà là đảo nổi với ba ngọn núi. Dòng nước biển chảy ven bờ theo thời gian đã mang phù sa bồi đắp 3 ngọn núi này thành doi đất chạy từ đất liền ra đảo, hình thành bán đảo.
                                .showmore.text-center
                                    a(href="#")
                                        img(src="images/arrow-down.png", alt="showmore")
