.place {
	position: relative;
	margin: 15px 0;
	img {
		width: 100%;
	}
	a.place-name {
		display: block;
		width: 100%;
		text-align: center;
		color: white;
		font-size: 25px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	a.place-img {
		display: block;
	}
}