.tour {
	border: 1px solid #dce0e0;
	border-radius: 5px;
	.tour-img img {
		width: 100%;
	}
	.tour-img {
		position: relative;
	}
	.tour-img p {
		margin: 0;
		line-height: 20px;
	}
	.price {
		line-height: 20px;
		background-color: #1c58f6;
		display: inline-block;
		padding-right: 15px;
		position: absolute;
		left: 0;
		bottom: 20px;
	}
	.price strike {
		font-size: 11px;
		font-weight: 200;
		color: #dce0ec;
	}
	.price span {
		font-size: 12px;
		color: white;
		font-weight: 400;
	}
	.price strike, .price span {
		padding: 0 5px;
	}
	.reaction {
		line-height: 22px;
		background: rgba(0,0,0,0.3);
		color: #d3e2e5;
		font-family: 'Oswald';
		font-weight: 400;
		font-size: 13px;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.reaction i {
		margin-right: 4px;
	}
	.reaction div {
		padding: 0 10px;
	}
	span.soc {
		height: 14px;
		line-height: 22px;
		margin-top: 4px;
		border-right: 1px solid #a9ced2;
	}
	.sale-label {
		position: absolute;
		top: -15px;
		right: -15px;
		width: 33px;
		height: 33px;
		border-radius: 50%;
		background-color: #ff2d55;
		line-height: 31px;
		span {
			font-size: 11px;
			color: white;
		}
	}
	.tour-name {
		display: inline-block;
		color: #000;
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 20px;
	}
	.tour-time i {
		font-size: 14px;
		margin-right: 5px;
	}
	.tour-activity {
		color: #dce0e0;
		font-size: 13px;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: 17px;
	}
	.tour-rating span {
		font-size: 13px;
		margin-left: 7px;
	}
	.tour-time span {
		font-size: 13px;
	}
	.tour-infor {
		padding: 22px 8px;
	}
	.rateit button.rateit-reset {
		display: none !important;
	}
	.tour-rating .rateit-range {
		height: 15px !important;
	}
}
