// Start: tour

mixin tour(title)
  .tour.tour-wrap
    .tour-img
      a(href="#")
        img(src="images/detail-product.png", alt="tour")
      p.price
        strike $3000
        span $2400
      .reaction
        .like.fleft
          a(href="#")
            i.far.fa-thumbs-up
            span 45
        span.soc.fleft
        .comment.fleft
          a(href="#")
            i.far.fa-edit
            span 25
        .clearfix
      .sale-label.text-center
        span Sale
    .tour-infor
      a.tour-name(href="#")=title
      p.tour-activity Iconic, Shopping, City tours
      .tour-rating.fleft
        .rateit(data-rateit-value="5" data-rateit-min="1" data-rateit-max="6" )
        span 4 reviews
      .tour-time.fright
        i.far.fa-clock
        span.main-time 8 Hours
      .clearfix
// End: tour
