// Start: footer

mixin footer(type)
  footer#footer
    .footer-top
      -if(type==0){
        img(src="../images/sunset-setcalendar.png", alt="")
      -}else if(type==1){
        img(src="../images/sunsethome.png", alt="")
      -}
    .footer-bottom
        .container
            .footer-bottom__1
                .row-footer
                    .col-4
                        .logo-footer
                            a(href="")
                                img(src="../images/logo-footer.png", alt="")
                        .text
                          p The best Travel Agency in Vietnam 2017.
                        .list-icon
                          ul
                            li
                              a(href="").face
                                i.fab.fa-facebook-f
                            li
                              a(href="").twitter
                                i.fab.fa-twitter
                            li
                              a(href="").instagram
                                i.fab.fa-instagram
                            li
                              a(href="").tripadvisor
                                i.fab.fa-tripadvisor
                            li
                              a(href="").yelp
                                i.fab.fa-yelp
                            .clearfix
                    .col-8
                        .title
                            a(href="")
                                h1 Công ty tnhh du lịch mạnh cầm
                        .text-footer
                            p Người đại diện: Dương Cảnh Quân
                            p MSDN: 0103087958. Cấp ngày : 09/12/2008
                            p Nơi cấp : Sở KH-ĐT Hà Nội
                            p Địa chỉ : Số 13, Ngõ 2 đường Nguyễn Viết Xuân, Phường Khương Mai, Quận Thanh Xuân, TP. Hà Nội
                            p Email      : dang@manhcam.com
                            p Số GPKD Lữ hành Quốc tế : 01-224/2010/TCDL – GP LHQT
                            p Ngày cấp : 05/07/2010
                            p Nơi cấp : Bộ VĂN HOÁ, THỂ THAO VÀ DU LỊCH.
                        .phone
                            p +84 976 222 892
                        .list
                            ul
                                li
                                    a(href="#") Chính sách và các quy định chung 
                                li
                                    a(href="#") Quy định và hình thức thanh toán
                                li
                                    a(href="#") Đổi trả và Hoàn tiền 
                                li
                                    a(href="#") Bảo mật thông tin
                                .clearfix
                    .clearfix
            .line
            .footer-bottom__2
                .fleft
                    p &copy; CopyRight ManhCam Tour
                .fright.menu-footer
                    ul
                        li
                            a(href="") Vietnam
                        li
                            a(href="") Indochina
                        li
                            a(href="") À-La_card
                        li
                            a(href="") About
                        li
                            a(href="") Contact
                        .clearfix
                .clearfix
  //- Type:
  //-   title {string} - заголовок
  //-   mods {string}  - стилевые модификаторы
  //- Use:
        +footer()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .footer.footer-wrap
  //.footer-wrap

// End: footer
