section#content
    .section
        .section__inner
            h1 Danh sách địa điểm đã chọn
            .list-place
                ul
                    li.place-1
                        i.fas.fa-circle
                        span Phố cổ Hội An
                        .close
                            i.far.fa-times-circle.close-1
                            span Xóa
                    li.place-2
                        i.fas.fa-circle
                        span Cù Lao Chàm
                        .close
                            i.far.fa-times-circle.close-2
                            span Xóa
                    li.place-3
                        i.fas.fa-circle
                        span Bãi Biển Mỹ Khê
                        .close
                            i.far.fa-times-circle.close-3
                            span Xóa
            .btn
                button(type="button") Yêu Cầu Cáo Giá
                    i.far.fa-arrow-alt-circle-right