header#header-2.header
    .header-top
        .container
            .logo.fleft.logo-1
                a(href="#")
                    img(src="../images/logo.png", alt="logo")
            .search-1.fleft
                input(type="text" placeholder="Search tour by keywords")
                button(type="button")
                    i.fas.fa-search
                .close-search
                    i.fas.fa-times
            .show-search
                i.fas.fa-search
            .logo.fleft.logo-2
                a(href="#")
                    img(src="../images/logo.png", alt="logo")
            .header-right.fleft
                .chess-icon.fright
                    .row-header-top
                        .item.fleft
                            img(src="../images/usa-flag.png", alt="chess")
                        .item.fleft
                            img(src="../images/france-flag.png", alt="chess")
                        .clearfix
                .menu.fleft
                    .toggle-menu
                        i.fas.fa-bars.toggle
                    ul.menu-c1
                        li
                            a(href="#") Discover Vietnam
                                i.fas.fa-chevron-down
                        li
                            a(href="#") Indochina
                                i.fas.fa-chevron-down
                        li
                            a(href="#") Customize Your Own
                        li
                            a(href="#") About us
                        li
                            a(href="#") Contact us
                        li
                            a(href="#")
                                i.fas.fa-shopping-cart
                                span 0
                        .clearfix
                .clearfix
            .clearfix
    .banner
        .owl-carousel.owl-theme.slide-banner
            .item
                img(src="../images/banner-detail.png" alt="banner")
                .text
                    .title
                        h1 The new canifornia
                    .row-btn
                        button(type="button" class="bg-blue") Book this tour
                        button(type="button" class="bg-noblue") Video Preview
            .item
                img(src="../images/banner-home.png" alt="banner")
                .text-2
                    .title
                        h1 Viet Nam
                    .lead UNIQUE EXPERIENCE
                    .form-header
                        .row-header
                            .col-3
                                .row-input
                                    input(type="text" placeholder="Destination, city")
                                    i.fas.fa-search
                            .col-3
                                .row-input
                                    input(type="text" placeholder="Any Month")
                                    i.far.fa-calendar
                            .col-3
                                .row-input
                                    input(type="text" placeholder="Destination, city")
                                    i.fas.fa-exchange-alt
                            .col-3
                                .row-input
                                    input(type="button" Value="Search")
                            .col-3
                                .row-input
                                    select
                                        option(value="") Categories 1
                                        option(value="") Categories 2
                                        option(value="") Categories 3
                                        option(value="") Categories 4
                                        option(value="") Categories 5
                            .col-3
                                .row-input
                                    select
                                        option(value="") Destinations 1
                                        option(value="") Destinations 2
                                        option(value="") Destinations 3
                                        option(value="") Destinations 4
                            .col-3
                                .row-input
                                    input(type="text" placeholder="Max budget ex. 500")
                                    i.fas.fa-dollar-sign
                            .clearfix