header#header-1.header
    .header-top
        .container
            .logo.fleft.logo-1
                a(href="#")
                    img(src="../images/logo.png", alt="logo")
            .search-1.fleft
                input(type="text" placeholder="Search tour by keywords")
                button(type="button")
                    i.fas.fa-search
                .close-search
                    i.fas.fa-times
            .show-search
                i.fas.fa-search
            .logo.fleft.logo-2
                a(href="#")
                    img(src="../images/logo.png", alt="logo")
            .header-right.fleft
                .chess-icon.fright
                    .row-header-top
                        .item.fleft
                            img(src="../images/usa-flag.png", alt="chess")
                        .item.fleft
                            img(src="../images/france-flag.png", alt="chess")
                        .clearfix
                .menu.fleft
                    .toggle-menu
                        i.fas.fa-bars.toggle
                    ul.menu-c1
                        li
                            a(href="#") Discover Vietnam
                                i.fas.fa-chevron-down
                        li
                            a(href="#") Indochina
                                i.fas.fa-chevron-down
                        li
                            a(href="#") Customize Your Own
                        li
                            a(href="#") About us
                        li
                            a(href="#") Contact us
                        li
                            a(href="#")
                                i.fas.fa-shopping-cart
                                span 0
                        .clearfix
                .clearfix
            .clearfix
    .header-bottom
        .container
            .search-2
                input(type="search" placeholder="Tên thành phố mà bạn muốn đến")
                a(href="#") TÌM KIẾM
//#header