// Mixins
include ../../components/footer/footer.pug
include ../../components/tour-type/tour-type.pug
include ../../components/introduce/introduce.pug
include ../../components/place/place.pug
include ../../components/tour/tour.pug