include ../_partials/mixins.pug
<!DOCTYPE html>
html(lang="en")
	head
		title=base.title
		meta(charset="utf-8")
		meta(name="description" content=base.description)
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no, user-scalable=no")
		meta(name="keywords", content=base.keywords)
		meta(name="author", content=base.author)
		// Styles
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="libs/owlCarousel/assets/owl.theme.default.min.css")
		link(rel="stylesheet" type="text/css" href="libs/owlCarousel/assets/owl.carousel.min.css")
		link(href="libs/rateit/src/rateit.css" rel="stylesheet" type="text/css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css")
		block csslibs
		link(rel="stylesheet" type="text/css" href="style.css")
	body
		#wrapper
			block header
			block content
			block footer
	script(src="libs/jQuery/jquery.min.js")
	script(src="libs/owlCarousel/owl.carousel.min.js")
	script(src="libs/rateit/src/jquery.rateit.min.js" type="text/javascript")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js")
	//block scriptlibs
	script(src="js/script.js")
